<div class="contents row">
  <p>xxxxxxxxxxx  Hello World</p>
  <%= link_to "New Post", new_event_path, class:"post-btn"%>
  <% @events.each do |event| %>
    <div class="event-contents">
      <p><%= event.title %></p>
      <span class="name">
        <%= event.done_at %>
      </span>
    </div>
  <% end %>
</div>
